.user{
    border:  0.05em solid var(--title-color);
    width: 100%;
    max-width: 320px;
    border-radius: 0.4em;
    padding: 1rem;
    background-color: var(--third-color);
    transition: transform 200ms ease;
}

.user:hover{
    transform: scale(1.03);
}

.user__name{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.user__list{
    display: grid;
    gap: 0.5em;
    margin-bottom: 1em;
}

.user__item{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.user__label{
    font-size: 0.7rem;
    color: var(--border-color);
    text-transform: uppercase;
    position: relative;
    left: 1em;
}

.user__value{
    font-size: 0.8rem;
}

.user__footer{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.user__btn{
    width: 2.2em;
    aspect-ratio: 1;
    border-radius: 0.4em;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.user__btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.4em black;
    filter: brightness(1.1);
}
.user__delete{
    color: var(--third-color);
    background-color:var(--btn);
}

.user__update{
    color: var( --border-color);
    border: 0.05em solid currentColor;
}


.user__icon{
    font-size: 1rem;
}